.services-icons-container {
  text-align: center;
  background-color: #eff5f9 !important;
}

.icons {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.services-content h3 {
  font-size: 1rem;
  font-family: var(--condensed-font);
  font-weight: 700;
  line-height: 1.2;
  color: #1d2a4d;
}
