.service-header {
  margin-bottom: 3rem;
}

.service-header h1 {
  font-size: 3rem;
}

.services-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.services-data .services-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.services-data .services-icon {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-data .services-icon::before {
  content: "";
  width: 150px;
  height: 100px;
  position: absolute;
  background: var(--primary);
  border-radius: 50%;
  transform: rotate(-14deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services-data .services-icon .icons {
  z-index: 1;
  color: #fff;
  font-size: 2rem;
}

.services-data .services-content h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.services-data .services-content p {
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .services-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
  }
}

@media screen and (max-width: 1500px) {
  .services-data {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}
